.product {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
	font-size: 20px;
}
.product span {
	font-weight: bold;
}

.details {
	padding-left: 85px;
	overflow: hidden;
	height: 100%;
}
.btns {
	margin: 3px 10px;
}

.product-text {
	overflow-wrap: break-word;
}
.details-parag {
	margin: 5px;
	letter-spacing: 1.5px;
	text-transform: capitalize;
	color: #003049;
}
.details-parag span {
	font-weight: 500;
}
.details-parag span {
	font-weight: bold;
}
