.macro-info-box {
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	height: 100%;
}
.macro-info-box button{
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
}
.macro-info {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.macro-info p:nth-of-type(1) {
	grid-column: 1/2;
}
.macro-info p:nth-of-type(2) {
	grid-column: 2/3;
}
.macro-info p {
	font-size: 24px;
}
