.product-box {
	position: relative;

	transition: background-color 0.3s;
}
.product-box:hover {
	background-color: rgb(253, 253, 210);
}
.product {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
	font-size: 20px;
}
.details-parag {
	margin: 5px;
	letter-spacing: 1.5px;
	text-transform: capitalize;
	color: #003049;
	font-size: 20px;
}
.product span {
	font-weight: bold;
}
.btns {
	margin: 3px 10px;
}

.product-details {
	height: 0;
	overflow: hidden;
	transition: height 0.3s;
}

.product-details.active {
	height: 100%;
}
.text {
	display: flex;
	align-items: center;
}
