.body-user {
	width: 100%;
}
.body-user .form-box {
	padding: 50px 70px;
}
.body-user form {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	gap: 5px;
	width: 100%;
}
.body-user h3 {
	margin: 0;
	text-align: center;
	font-size: 42px;
}
.body-user .form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.body-user .form-group:nth-of-type(1) {
	grid-column: 1/4;
}
.body-user .form-group:nth-of-type(2) {
	grid-column: 1/2;
}
.body-user .form-group:nth-of-type(3) {
	grid-column: 2/3;
}
.body-user .form-group:nth-of-type(4) {
	grid-column: 3/4;
}
.body-user .form-select-box,
.body-user .radio-box {
	grid-column: 1/4;
}
.body-user input,
.body-user select {
	padding: 5px 10px;
	/* height: 40px; */
	border-radius: 3px;
	border: 1px solid #ff840070;
}
.body-user button {
	margin: 5px 0;
	grid-column: 1/4;
	width: 100%;
}

.body-user button:disabled {
	background-color: #ffd9b1;
}
.body-user button:disabled:hover {
	cursor: not-allowed;
}
.body-user [type="radio"] {
	margin: 0 5px;
}
.body-user label {
	font-size: 20px;
	color: #003049;
}
