.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.form-group input {
	margin-bottom: 5px;
	padding: 5px 10px;
	border-radius: 3px;
	border: 1px solid #777;
}
form button {
	margin: 5px;
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 3px;
	border: 1px solid #999;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}
form button:hover {
	background-color: #999;
	color: #fff;
}
